<div *ngIf="ativo">
    <div class="panel-danger">
        <h3 class="text-success text-center">
            Cadastre sua Startup
        </h3>
    </div>

    <div class="panel-heading text-left">
        <div class="form-group">
            <label for="inputName" class="text-black-50">
                Nome da startup
            </label>
            <input id="inputName"
                   type="text"
                   tabindex="1"
                   maxlength="50"
                   placeholder="nome"
                   #varName
                   (change)="customer.name = varName.value"
                   class="form-control">
        </div>

        <div class="form-group">
            <label for="inputDescricao" class="text-black-50">
                O que faz ?
            </label>
            <input id="inputDescricao"
                   type="text"
                   tabindex="2"
                   maxlength="150"
                   #varDescricao
                   (change)="customer.description = varDescricao.value"
                   placeholder="O que faz"
                   class="form-control">
        </div>

        <div class="form-group">
            <label for="inputEmail" class="text-black-50">
                Seu email
            </label>
            <input id="inputEmail"
                   maxlength="50"
                   tabindex="3"
                   type="text" placeholder="email"
                   #varEmail
                   (change)="customer.email = varEmail.value"
                   class="form-control">
        </div>

        <div class="form-group text-black-50">
            <label for="address">Endereço</label>
            <input type="email"
                   maxlength="100"
                   class="form-control"
                   tabindex="4"
                   id="address"
                   aria-describedby="emailHelp"
                   #varAddress
                   (change)="customer.address = varAddress.value"
                   placeholder="Endereço">
        </div>

        <div class="form-group">
            <label for="inputPhone" class="text-black-50">
                Seu telefone
            </label>
            <input id="inputPhone" type="text"
                   maxlength="50"
                   tabindex="5"
                   placeholder="telefone"
                   #varPhone
                   (change)="customer.phone = varPhone.value"
                   class="form-control">
        </div>

        <div class="form-group">
            <label for="inputMentoria" class="text-black-50">
                Qual tipo de mentoria sua startup necessita?
            </label>
            <textarea class="form-control"
                      maxlength="150"
                      tabindex="6"
                      name="mentoria"
                      #varMentoring
                      (change)="customer.mentoring = varMentoring.value"
                      id="inputMentoria"
                      rows="3">
        </textarea>

        </div>

        <div class="form-check">
            <input type="checkbox"
                   #findInvest
                   tabindex="7"
                   (change)="customer.findInvestiments = findInvest.checked"
                   id="inputInvestimento">
            <label class="text-black-50" for="inputInvestimento">
                Preciso de investimento
            </label>
        </div>

    </div>

    <div class="col-xs-12">
        <button type="submit"
                class="btn btn-success btn-group-justified"
                (click)="save()"
                tabindex="8"
                [disabled]="saveEnabled()"
                style="margin-top: 10px;">
            Salvar
        </button>
    </div>
</div>